.container {
  display: flex;
  justify-content: center;
  background-color: #F7ECDE;
  font-family: 'Caveat', cursive;
}
h1 {
  font-size: 50px;
  margin-bottom: 0;
}
p {
  font-size: 30px;
  margin: 0;
  line-height: 1.5;
}
.btnClear {
  font-family: 'Caveat', cursive;
  display: inline-block;
  cursor: pointer;
  border: 1px solid transparent;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  background-color: #54BAB9;
  color: #F7ECDE;
  align-self: center;
  padding: 10px;
  margin: 20px;
} 
.btnClear:hover {
  background-color: #00e69c; 
}
.btnDel {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  margin-bottom: 0;
  border: none;
  background-color: #F7ECDE;
  cursor: pointer;
  background: url("https://cdn-icons-png.flaticon.com/128/1177/1177463.png?ga=GA1.2.12781574.1649802887") no-repeat center;
  background-size: cover;
}
.btnDel:hover {
  background: url("https://cdn-icons-png.flaticon.com/128/1177/1177464.png?ga=GA1.2.12781574.1649802887") no-repeat center;
  background-size: cover;
}
h3 {
  margin-top: 50px;
}
